<div mat-dialog-title>
  <h1>Employee Form</h1>
</div>

<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-content class="content">

  <div class="row">
  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput type="text" placeholder="Grace" formControlName="firstName">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Last Name</mat-label>
    <input matInput type="text" placeholder="Hopper" formControlName="lastName">
    <div>
      <!-- <p *ngIf="empForm.get('lastName').errors">
        <small *ngIf="empForm.get('lastName').hasError('required')">El campo es requerido</small>
      </p> -->
      <!-- <p *ngIf="empForm.get('lastName').errors && empForm.get('lastName').dirty">
        <small *ngIf="empForm.get('lastName').hasError('required')">El campo es requerido</small>
      </p> -->
    </div>
  </mat-form-field>
   </div>


 <div class="row">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="123@123.com" formControlName="email">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Date of Enrollment</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dob">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
 </div>


<div class="row">
  <mat-radio-group aria-label="Select an option" formControlName="gender">
    <mat-label><b>Gender</b></mat-label>
    <mat-radio-button value="female">Female</mat-radio-button>
    <mat-radio-button value="male">Male</mat-radio-button>
    <mat-radio-button value="other">Other</mat-radio-button>
  </mat-radio-group>
</div>

<div class="row">
 <mat-form-field appearance="fill">
  <mat-label>Education Level</mat-label>
  <mat-select formControlName="education">
    <mat-option *ngFor="let option of education" [value]="option">{{option}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Salary</mat-label>
  <input matInput placeholder="2.000" type="number" formControlName="salary">
  <mat-hint>(Dollars)</mat-hint>
</mat-form-field>


</div>

<div class="row">
  <mat-form-field appearance="outline">
    <mat-label>Area</mat-label>
    <input matInput placeholder="Banco" formControlName="area">
  </mat-form-field>

</div>
</div>

<div mat-dialog-actions class="action">
  <button mat-raised-button type="button" [mat-dialog-close]="false"> Cancel </button>
  <button mat-raised-button color="primary" type="submit" >{{data ? 'Update': 'Save'}}</button>
</div>
</form>
